# Vaultwarden Configurations

# A complete list of configurations can be found on the vaultwarden GitHub page
# https://github.com/dani-garcia/vaultwarden/wiki

# Configure cloudflare tunnel
TUNNEL_TOKEN='your_cloudflare_tun_token'
IP_HEADER=CF-Connecting-IP # Configure IP header for tunnel

# Configure the database
# If your password contains special characters, you will need to use percentage encoding.
# See https://en.wikipedia.org/wiki/Percent-encoding#Percent-encoding_reserved_characters
MYSQL_DATABASE='vaultwarden'
MYSQL_USER='vaultwarden'
MYSQL_PASSWORD='your_url_encoded_password'
MYSQL_ROOT_PASSWORD='your_url_encoded_password'
# The connectiopn string for the database
DATABASE_URL="mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@mysql:3306/${MYSQL_DATABASE}"

# Enable Admin Panel
# To enable the admin page, you need to set an authentication token. After this, the page will be available at /admin.
# Create password hash with: echo -n "MySecretPassword" | argon2 "$(openssl rand -base64 32)" -e -id -k 65540 -t 3 -p 4'
ADMIN_TOKEN='your_admin_token'

# Disable registration of new users
# By default, anyone who can access your instance can register for a new account. To disable this, set the SIGNUPS_ALLOWED env variable to false
SIGNUPS_ALLOWED=false

# Restricting registrations to certain email domains
#SIGNUPS_DOMAINS_WHITELIST=example.com,example.net,example.org

# Require users to verify their email address
SIGNUPS_VERIFY=true

# Set number of workers
ROCKET_WORKERS=20

# Rate limiting (defense-in-depth against brute force; related to CVE-2026-27801)
LOGIN_RATELIMIT_MAX_BURST=10
LOGIN_RATELIMIT_SECONDS=60
ADMIN_RATELIMIT_MAX_BURST=3
ADMIN_RATELIMIT_SECONDS=300

# Configure EMAIL
#SMTP_HOST=smtp.gmail.com
#SMTP_PORT=587
#SMTP_SECURITY=starttls # off, force_tls, starttls
#SMTP_USERNAME=smtp_username
#SMTP_PASSWORD=smtp_password
#SMTP_FROM=no-reply@your_domain.com
#DOMAIN='https://your_domain.com'
#SMTP_AUTH_MECHANISM="Login" # Only needed for Hotmail/Outlook/Sendgrid

# Common Email Provider Documentation
# Gmail
# https://support.google.com/a/answer/176600?hl=en

# Hotmail/Outlook
# https://learn.microsoft.com/en-us/exchange/mail-flow-best-practices/how-to-set-up-a-multifunction-device-or-application-to-send-email-using-microsoft-365-or-office-365

# Sendgrid
# https://www.twilio.com/docs/sendgrid/for-developers/sending-email/integrating-with-the-smtp-api

# Protonmnail
# https://proton.me/support/smtp-submission#setup
